    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-2 col-md-7">
          <!-- Application footer goes here (only here please):
            <p class="spacer">If you don't want a headline</p>
            or
            <h3 class="footerhead">Headline</h3>
            <p>Contents</p>
          -->
          </div>
          <div class="col-xs-12 col-md-3">
            <h3 class="footerhead">Questions or comments?</h3>
            Please feel free to <a href="https://www.gentoo.org/inside-gentoo/contact/">contact us</a>.
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-sm-3 col-md-2">
            <ul class="footerlinks three-icons">
              <li><a href="http://twitter.com/gentoo" title="@Gentoo on Twitter"><span class="fa fa-twitter fa-fw"></span></a></li>
              <li><a href="https://plus.google.com/+Gentoo" title="+Gentoo on Google+"><span class="fa fa-google-plus fa-fw"></span></a></li>
              <li><a href="https://www.facebook.com/gentoo.org" title="Gentoo on Facebook"><span class="fa fa-facebook fa-fw"></span></a></li>
            </ul>
          </div>
          <div class="col-xs-10 col-sm-9 col-md-10">
            <strong>&copy; 2001&ndash;2015 Gentoo Foundation, Inc.</strong><br>
            <small>
              Gentoo is a trademark of the Gentoo Foundation, Inc.
              The contents of this document, unless otherwise expressly stated, are licensed under the
              <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">CC-BY-SA-3.0</a> license.
              The <a href="https://www.gentoo.org/inside-gentoo/foundation/name-logo-guidelines.html">Gentoo Name and Logo Usage Guidelines</a> apply.
            </small>
          </div>
        </div>
      </div>
    </footer>
